@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import "../../constants/Variables";

.app-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app-navbar-name {
  justify-content: flex-start;
  align-items: baseline;
  display: flex;
  vertical-align: top;
  p {
    height: 15px;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 15px;
    color: $blackColor;
    text-transform: capitalize;
    font-family: "Bungee Shade", cursive;
    margin-bottom: 0;
    margin-top: 0;
    span {
      color: rgb(44, 121, 179);
    }

    @media screen and (max-width: 450px) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 2000px) {
      font-size: 2rem;
      height: 30px;
    }
  }
}

.app-navbar-links {
  list-style: none;
  display: flex;
  margin-right: 40px;
  flex: 1;
  justify-content: center;
  align-items: center;

  li {
    flex-direction: column;
    margin: 0 1.1rem;
    cursor: pointer;

    div {
      width: 5.5px;
      height: 4.5px;
      background: transparent;
      border-radius: 60%;
      margin-bottom: 4px;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      flex-direction: column;
      color: $grayColor;

      transition: all 0.4 ease-in;
      
      &:hover {
        color: $secondaryColor;
      }
    }

    &:hover {
      div {
        background: $secondaryColor;
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app-navbar-menubar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondaryColor;

  svg {
    width: 70%;
    height: 70%;
    color: $whiteColor;
  }

  div {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.2rem;

    width: 75%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background: url("../../assets/bgWhite.png");
    background-size: cover;
    background-repeat: repeat;
    background-color: $whiteColor;

    box-shadow: 0px 0px 25px rgba(155, 150, 150, 0.15);

    svg {
      width: 33px;
      height: 33px;
      color: $secondaryColor;
      margin: 0.45rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: $grayColor;
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.45s ease-in-out;
          &:hover {
            color: $secondaryColor;
          }
        }
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
