@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$defaultFont: 'Roboto', sans-serif;
$primaryColor: #ecf0f5;
$secondaryColor: #323db0;
$blackColor: #020202;
$lightGrayColor: #e6e4e4;
$grayColor: #6a758d;
$whiteColor: #ffffff;





