.custom-input {
    height: 2.9em;
  }
  
  .customize-btn {
    margin-top: 10%;
    font-weight: 700;
    width: 50%;
    height: 2.9em;
    transition: 0.8s;
    color: #0275d8;
    background-color: white;
  }
  .customize-btn:hover {
    background-color: #0275d8;
    transition: 0.8s;
    color: white;
  }