@import "../../constants/_Variables.scss";

#home {
  background: url("../../assets/bgIMG.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.app-home {
  // border: 1px solid red;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 5.5rem 1.9rem 0rem;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app-home-info {
  // border: 1px solid blue;
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin: 0 2.1rem;

  @media screen and (max-width: 1200px) {
    margin-right: 0rem;
    width: 100%;
  }
}

.app-home-badge {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  
  .badge-style,
  .tag-style {
    width: auto;
    padding: 1.1rem 2rem;
    background: $whiteColor;
    border-radius: 19px;
    flex-direction: row;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }

  .tag-style {
    margin-top: 3.2rem;
    flex-direction: column;

    p {
      text-align: right;
      width: 100%;
      text-transform: uppercase;
    }
  }

  span {
    font-size: 2.6rem;

    @media screen and (min-width: 2000px) {
      font-size: 5.1rem;
    }
  }

  @media screen and (max-width: 1200px) {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.app-home-skill-circle {
  // border: 1px solid green;
  flex: 0.7;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin-left: 1.1rem;

  div {
    border-radius: 50%;
    width: 100px;
    height: 100px;

    background: $whiteColor;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    img {
      width: 65%;
      height: 65%;
    }
  }


  div:nth-child(1) {
    width: 105px;
    height: 105px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 155px;
    height: 155px;
  }

  div:nth-child(3) {
    width: 75px;
    height: 75px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 395px;
      height: 395px;
    }

    div:nth-child(3) {
      width: 165px;
      height: 165px;
    }

    div:nth-child(1) {
      width: 195px;
      height: 195px;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-left: 0;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    div {
      margin: 1rem;
    }
  }
}

.app-home-img {
  // border: 1px solid purple;
  flex: 1;
  height: 100vh;

  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;

  img {
 
  
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }

  .background-circle {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
